<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fsz570.easyaccounting"
    android:installLocation="auto"
    android:versionCode="10"
    android:versionName="1.1.0" >
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:name=".EasyMoneyApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AccountingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateTransactionActivity"
            android:label="@string/title_activity_update_transaction">
        </activity>
        <activity
            android:name=".UpdateEventActivity"
            android:label="@string/title_activity_update_event">
        </activity>
        <activity
            android:name=".UpdateCategoryActivity"
            android:label="@string/title_activity_update_category">
        </activity>
        <activity
            android:name=".HelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_help"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name=".UpdateBudgetActivity"
            android:label="@string/title_activity_update_budget" >
        </activity>
    </application>

</manifest>
